.container-settings {
  -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
  justify-content: center;
  text-align: center;
  align-items: center;
  max-width: 60vw;
  padding: 50px;
  padding-top: 30px;
  border-radius: 5px;
  margin: 40px auto;
  background-color: var(--offwhite);
}

.container-settings h1 {
  font-size: 50px;
  margin-bottom: 20px;
  display: block;
}

.form-settings input {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.change-settings {
  margin-top: 20px;
  width: 60%;
  font-size: 15px;
}

.delete-settings {
  border: 2px solid red;
  color: red !important;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 20px;
  width: 60%;
  font-size: 15px;
  background-color: transparent;
}

.delete-settings:hover {
  background-color: red;
  color: white !important;
  transition: all 0.3s ease;
}

@media only screen and (min-width: 950px) {
  #meeting-settings {
    margin-right: 10% !important;
  }
}
