.section1_about{
    background: white;
    background: -webkit-linear-gradient(to right, var(--light_primary), #0072FF);
    background: -moz-linear-gradient(to right, var(--light_primary), #0072FF);
    background: linear-gradient(to right, var(--light_primary), #0072FF);
    padding-top: 5vh;
    display: inline-block;
    padding-bottom: 5vh;
    width: 100%;
}

.flexContainer_about{
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
}

.section2_about{
    width: 50vw;
    background: white;
    padding: 50px;
}

.section2_about img{
    width: 100%;
}

.section2a_about{
    color: black;
    background-color: white;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    overflow: none;
    white-space: nowrap;
    text-overflow: clip;
    width: 50vw;
    display: flex;
    justify-content: center;
}

.section2Overall_about{
    display: flex;
}

.section3_about{
    background-color: white;
}

.section3_about{
    padding-top: 55px;
    padding-bottom: 5px;
    padding-left: 50px;
    padding-right: 50px;
    display: flexbox;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
}



@media only screen and (max-width: 700px)
{
    .enterTextContainer_about{
        margin-left: 10px;
        margin-right: 10px;
    }

    .section3_about{
        padding-bottom: 50px;
        padding-top: 0px;
    }
}

@media only screen and (max-width: 1180px)
{
    .section1_about{
        padding-bottom: 100px;
        padding-top: 50px;
    }
}

@media only screen and (max-width: 800px)
{
    .section2_about{
        width: 100vw;
        min-height: 500px;
    }

    .section2a_about{
        width: 100vw;
        padding-top: 0px;
        padding-bottom: 20px;
    }

    .section2Overall_about{
        flex-wrap: wrap;
    }

    .section2a_about{
        margin-bottom: 20px;
    }

    .section3_about{
        padding-top: 10px;
    }
}

.findTextContainer_about{
    text-align: center;
}

@media only screen and (max-width: 1095px)
{
    .findTextContainer_about{
        margin-top: 70px;
    }
}

@media only screen and (max-width: 550px)
{
    .image_2_Container_about video{
        max-width: 90vw;
    }
}

.image_1_Container_about img {
    width: 400px;
}

.image_2_Container_about img {
    width: 400px;
}

.profile_about{
    margin-right: 40px;
    margin-bottom: 40px;
}

.profile_about img{
    width: 150px;
    border-radius: 50%;
}

.name_about{
    font-weight: bold;
    font-size: 24px;
}

.role_about{
    color: var(--gray3);
    font-weight: bold;
}

.divide_about{
    border:0;
    margin: auto;
    width: 75vw;
    height:2px;
    background:var(--dark_primary);
    visibility: hidden;
}

@media only screen and (max-width: 800px)
{

    .divide_about{
        visibility: visible;
    }
}

.break_about {
    flex-basis: 100%;
    height: 0;
}

