.container_view{
    -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    box-shadow: 1px 2px 5px rgba(0,0,0,.5);
    justify-content: center;
    text-align: center;
    align-items: center;
    max-width: 55vw;
    padding: 50px;
    padding-top: 30px;
    border-radius: 5px;
    margin: 40px auto;
    background-color: var(--offwhite);
}

.form_view{
    justify-content: center;
    text-align: center;
    align-items: center;
    max-width: 60vw;
    padding: 10px 50px;
    border-radius: 5px;
    margin: 0px auto;
}

.container_view h1{
    font-size: 50px;
    margin-bottom: 20px;
    display: block;
}

.form_view input{
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.button_view {
    margin-top: 20px;
    width: 60%;
    font-size: 15px;
}

.form_view select{
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 205px;
}

@media only screen and (max-width: 925px)
{
    .form_view input{
        margin:8px 0px !important;
    }
}

.viewText{
    text-align: center;
    font-size: 40px;
    margin-top: 40px;
}

.table_view td {
    padding: 30px 50px;
    text-align: left;
}

.table_view{
    margin: auto;
    border-collapse: collapse;
}

.table_view hr {
    width: 100%;
}

.table_view th {
    color: var(--gray2);
    padding: 0px 50px;
    text-align: left;
}

.table_view td {
    font-size: 23px;
}

.table_view tr {
    border-bottom: 1px solid black;
}

.position{
    color: var(--dark_primary) !important;
    border: 2px solid var(--dark_primary);
    padding: 10px;
    font-size: 30px;
    border-radius: 5px;
}
